INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
config/
configure
libGenome-1.3.pc
libGenome/.deps/
libGenome/.libs/
libGenome/Makefile
libGenome/Makefile.in
libGenome/*.lo
libGenome/*.o
libGenome/libGenome-1.3.la
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
